body {
  background-color: #008C9A;
  font-family: sans-serif;
  font-size: 18px;
  color: #FCFBE7;
}


#container {
  width: 650px;
  margin: 0;
  padding: 40px;
}

h1 {
  font-family: serif;
  font-size: 24px;
  font-weight: heavy;
}
