body {
  background-color: #ffffff;
}


h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Cinzel Decorative', cursive;

}

.center-box{
  background-color: blue;
  width:270px;
  height:150px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-75px 0 0 -135px;
  text-align: center;
}
