@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Cinzel+Decorative:700,900);

body {
  background-color: #ffffff;
}

.name-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  max-width: 220px;
}

.center-box{
  background-color: #000000;
  opacity: 0.8;
  width:270px;
  height:150px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-75px 0 0 -135px;
  text-align: center;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.social{
  color: #BDBDBD;
  margin-right: 5px;
  margin-left: 5px;
}

a:hover .social{
  color: #FFFFFF;
}

/*remove underline from links*/
a {text-decoration: none; }


/*sticky footer*/
html, body {height: 100%;}
#footwrap {min-height: 100%;}
#footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
} 
/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;
}